/* Fonts */

@font-face {
    font-family: "broken";
    src: url("./mandalore.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000;
    font-family: 'raleway';
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.europa {
    font-family: 'notera';
    font-weight: '700';
}

.regular {
    font-family: 'raleway';
    font-weight: '500';
}

.broken {
    font-family: 'broken';
}

* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clock {
    background-image: url('./cock.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
}

.title {
    color: #fff;
    font-size: 15vw;
    margin: -0.25em 0 -0.2em 0;
}

.rono, .yoker {
    font-size: 2vw;
}

.creditsimg {
    width: 100%;
}

.flexcol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yoker {
    text-align: right;
}

.rono {
    margin-left: 0.18em;
}

.details {
    display: inline-block;
    color: #fff;
}

.flexcol {
    display: flex;
    justify-content: center;
    height: 80vh;
}

.name {
    font-size: 1.35em;
}

.soon {
    color: #fff;
    font-size: 2em;
}

html, body {
    height: 100%;
    margin: 0;
}

/* Trick */

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    padding: 1em 0;
    padding: 1em 0;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
}

footer, footer a {
    color: rgb(129, 129, 129);
}

#about {
    text-align: center;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#about, #credits {
    padding: 1em 0;
    background-color: #000;
    color: #fff;
}

.link {
    cursor: pointer;
}

.hi {
    font-weight: 700;
    color: #fff;
}

.flexrow {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.respdeet {
    display: none;
    color: #fff;
    margin-top: 4em;
}

@media (min-width: 750px) {
    .flexrow {
        display: none;
    }
}

@media (max-width: 750px) {
    .details {
        display: none;
    }
    .clock.six.columns {
        width: 100%;
    }
    .respdeet {
        display: block;
    }
    .clock {
        height: 60vh;
    }
    .respdeet {
        display: inline-block;
    }
    .respdeet .rono {
        font-size: 4vw;
    }
    .respdeet .yoker {
        font-size: 4vw;
    }
    .respdeet .title {
        font-size: 32vw;
    }
    .flexcol {
        display: none;
    }
}